.form-group {
    width: 100%;
    margin-bottom: 15px;
  }
  .form-child{
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px 10px;
  }
  #amount{
    color: white;
    background-color: transparent;
    padding: 10px;
    width: 80%;
    height: 100%;
    box-sizing: border-box;
  }
  
  label {
    color: white;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  
  #currencyExchangeForm > button {
    background-color: #007bff;
    width: 100%;
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  #currencyExchangeForm > button:hover {
    background-color: #0056b3;
  }
  
  .nav{
    position: relative;
    width: 20%;
    padding: 10px 0px;
  }
  
  #select-curr{
    border-radius: 10px;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;
  }
  #arrow {
    transition: transform 0.3s ease;
  }
  
  #arrow.rotate {
    transform: rotate(180deg); 
  }
  
  .select-curr:hover{
    cursor: pointer;
  }
  
  /* .select-curr svg {
    display: block;
    width: 20px;
    height: 20px;
  } */
  
  .mylist-wrap{
    display: flex;
    flex-direction: column;
    width: 100px;
    left: 0;
    top:100%;
    padding: 0px 10px;
    position: absolute;
    max-height: 0px;
    transition: 0.2s;
    border-radius: 10px;
    overflow: hidden;
    transform: translateX(-10px);
  }
  
  .mylist-wrap.open{
    max-height: 800px;
    background-color: rgba(165, 24, 24, 1);
  }